<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<title>    Welcome to Photopixels</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/style-welcome.css" />
</head>
{% block body %}
    <div class="container-text">
        <div class="welcome-header-text">
            Welcome to Photopixels!<br>
        </div>
        <div class="welcome-text">
            Keep in touch with friends and other wonderful people.<br>
            Get instant updates about things that interest you.<br>
            And watch the events unfolding in real time, from different sides.
        </div>
    </div>
    <div id="login">
        <form method="post" target="/" action="/login">
            <fieldset id="inputs">
                <input type="text" name="login" id="login-input" placeholder="Login" autofocus required>
                <input type="password" name="password" id="password-input" placeholder="Password" required>
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id ="submit" value="Log in">
                <a href="">Забыли пароль?</a>
            </fieldset>
        </form>
        {{ message_login }}
    </div>
    <div id="login-reg">
        <form method="post" target="/" action="/register">
            <fieldset id="inputs">
                <input type="text" name="login-register" id="login-input" placeholder="Login" autofocus required>
                <input type="password" name="password-register" id="password-input" placeholder="Password" required>
                <input type="password" name="password-reg-again" id="password-input" placeholder="Password again" required>
            </fieldset>
            <fieldset id="actions">
                <input type="submit" id ="submit" value="Sign up">
            </fieldset>
        </form>
        {{ message_register }}
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $.post ('index.php',{login:'leroy',password:'password'},function(data,status){
        if( status=='success' ){
            eval('var obj='+data);
            if(obj.auth==true)
                alert('Вы успешно прошли авторизацию!')
            else
                alert('Логин либо пароль не верны')
        }else{
            alert('В процессе отправки произошла ошибка :(')
        }
    })
</script>
{% endblock %}
</html>