<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
<title>    Welcome to Photopixels</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/style-welcome.css" />
</head>
{% block body %}
    <div id="field">
        <div class="container-text">
            <div class="welcome-header-text">
                Welcome to Photopixels!<br>
            </div>
            <div class="welcome-text">
                Keep in touch with friends and other wonderful people.<br>
                Get instant updates about things that interest you.<br>
                And watch the events unfolding in real time, from different sides.
            </div>
        </div>
        <div id="form">
            <div id="login">
                <fieldset id="inputs">
                    <input type="text" name="login" id="login-input" placeholder="Login" autofocus required>
                    <input type="password" name="password" id="password-input" placeholder="Password" required>
                    <div id="results-log"></div>
                </fieldset>
                <fieldset id="actions">
                    <input type="submit" id ="submit-log" value="Log in">
                    <a href="">Забыли пароль?</a>
                </fieldset>
            </div>
            <div id="login-reg">
                <form method="post" action="/register" enctype="multipart/form-data">
                    <fieldset id="inputs">
                        <input type="text" name="login-register" id="login-register-input" placeholder="Login" autofocus required>
                        <input type="password" name="password-register" id="password-register-input" placeholder="Password" required>
                        <input type="password" name="password-reg-again" id="password-register-again-input" placeholder="Password again" required>
                    </fieldset>
                    <fieldset id="actions">
                        <input type="submit" id ="submit-reg" value="Sign up">
                    </fieldset>
                </form>
                <div id="results-reg"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function aLoginPressed(){
            var login_input =  $("#login-input").val();
            var password_input =  $("#password-input").val();
            // var reg = document.querySelector('#results-reg');
            $.ajax({
                type: 'POST',
                url: '/login',
                //dataType : 'json',
                data: "login="+login_input+"&password="+password_input,
                success: function(response) {
                    reg = response;
                    //console.log(response.message);
                    if(response.status == 'error')
                        $('#results-log').html(response.message);
                    if(response.status == 'ok') {

                        window.location.href = response.url;
                    }
                }
            });

        }
        /*function aRegisterPressed(){
            var login_input =  $("#login-register-input").val();
            var password_input =  $("#password-register-input").val();
            var password_again = $("#password-register-again-input").val();
alert(1 +login_input);
            $.ajax({
                type: 'POST',
                url: '/register',
                //dataType : 'json',
                data: "login="+login_input+"&password="+password_input//+"&password-again"+password_again,
                success: function(response) {
                    reg = response;
                    //console.log(response.message);
                    if(response.status == 'error')
                        $('#results-reg').html(response.message);
                    if(response.status == 'ok')
                        window.location.href = response.url;
                }
            });

        }*/
        $(document).ready(function() {
            $('#submit-log').on('click', function(){aLoginPressed();
            });
             //  $('#submit-reg').on('click', function(){aRegisterPressed();
            //});
        });
    </script>
{% endblock %}
</html>