body{
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* HEADER */
#header{
    width: 100%;
    background-color: #000;
    opacity: 0.8;
    height: 8%;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

.clearfix:after {
    clear:both;
    content:"";
    display:block;
    height:1%;
    line-height:0;
    visibility:hidden;
}

#head-img {
    float: left;
}

.head-menu {
    width: 500px;
    font-weight: bold;
    height: 30px;
    list-style: none;
    padding: 0;
    float: left;
    color: #efefef;
}

.head-menu li {
    float: left;
    margin: 0 30px;
}

.head-menu li:first-child {
    margin-left: 15%;
}

.head-menu li a {
    color: #efefef;
    line-height: 30px;
    padding: 0;
    text-decoration: none;
}
.head-menu li a:hover, .head-menu li.menu-selected a {
    color: #295C95;
}

#exit{
    margin-top:1%;
    width: 100px;
    float: right;
    text-align:center;
    background-image: linear-gradient(top, #C3BEBE, #666363);
    background-color: #878080;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C3BEBE), to(#666363));
    background-image: -webkit-linear-gradient(top, #C3BEBE, #666363);
    background-image: -moz-linear-gradient(top, #C3BEBE, #666363);
    background-image: -ms-linear-gradient(top, #C3BEBE, #666363);
    background-image: -o-linear-gradient(top, #C3BEBE, #666363);
    background-image: linear-gradient(top, #C3BEBE, #666363);

    border-color: #878080 #878080 #595454;
    line-height: 30px;
    border-radius: 4%;
}

#exit a{
    text-decoration: none;
    color: #efefef;
    width:100px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

#exit a:hover{
    color: #295C95;
    width:100px;
    line-height: 30px;
}

#head-about{
    background: url("textured_paper.png") repeat scroll 0 0 transparent;
    float: left;
    line-height: 70px;
    width: 100%;
    text-align: center;
}



