body{
    background-color: #47638D;
    margin: 0;
}

#post{
    background-color: #efefef;
    border-radius: 1%;
    height: auto;
    padding: 2%;
}

#content{
    width:60%;
    margin:auto;
    margin-top: 3%;
}

#avatar{
    margin-left: 5%;
    margin-right: 3%;
    margin-top:3%;
    float:left;
}

#user-name{
    margin-top:3%;
    margin-bottom: 2%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15pt;
}

#description{
    font-family: "Arial Black", Gadget, sans-serif;
    color: #4B4A4A;
}

#photo-post{
    margin-top: 1%;
}

#likes{
    float:right;
    margin-right: 27%;
    margin-top: 0.5%;
    font-size: 10pt;
    margin-bottom:2%;
}

#date-and-comments{
    float:left;
    margin-top: 0.5%;
    margin-left:21%;
    font-size: 10pt;
    color: #595959;
}
