body{
    margin: 0;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-weight: bold;
    background: url(textured_paper.png);

}

#inputs{
    width:40%;
    float:right;
}
#title-descr {
    margin-top: 10%;
}
#title-input, #description-input
{
    margin-top:1.5%;
    margin-bottom: 3%;
    padding: 15px 15px 15px 30px;
    width: 443px; /* 353 + 2 + 45 = 400 */
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#description-input{
    height: 382px;
}

#photo{
    width: 54%;
    float:left;
    height: 730px;
    vertical-align: middle;
}

#upload-area{
    padding-top: 10%;
    padding-left: 6%;
}

#upload{
    min-width: 100px;
    height: 35px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    float:right;
    margin-right: 6%;
    margin-top: 1%;
    width: 100px;

    background-color: #1A497E;
    background-image: linear-gradient(top, #2196E9, #1A497E);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2196E9), to(#1A497E));
    background-image: -webkit-linear-gradient(top, #2196E9, #1A497E);
    background-image: -moz-linear-gradient(top, #2196E9, #1A497E);
    background-image: -ms-linear-gradient(top, #2196E9, #1A497E);
    background-image: -o-linear-gradient(top, #2196E9, #1A497E);
    background-image: linear-gradient(top, #2196E9, #1A497E);
    color: #efefef;
    border-color: #1A497E #1A497E #0C2B4D;

    border-radius: 8%;

    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
}

#upload a:hover{
    background-color: #1A497E;
    background-image: linear-gradient(top, #1A497E, #2196E9);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1A497E), to(#2196E9));
    background-image: -webkit-linear-gradient(top, #1A497E, #2196E9);
    background-image: -moz-linear-gradient(top, #1A497E, #2196E9);
    background-image: -ms-linear-gradient(top, #1A497E, #2196E9);
    background-image: -o-linear-gradient(top, #1A497E, #2196E9);
    background-image: linear-gradient(top, #1A497E, #2196E9);
    color: #efefef;
    border-color: #1A497E #1A497E #0C2B4D;
}

#content{
    width:70%;
    margin:auto;
    margin-top: 3%;
    background-color: #f7f7f9;
    border:double 2px #cad8e6;
    /*border:double 3px #ACD7EC;
    /*color: #6A76B0;*/
    color: #204975;
    height: 750px;
    padding: 2%;
}
#photo-img {
    margin-top: 9%;
    margin-left: 1%;
    text-align: center;
}