body{
    background: url(textured_paper.png);
}

#content {
    width:70%;
    margin:auto;
    margin-top: 3%;
    background-color: #f7f7f9;
    border:double 2px #cad8e6;
    color: #6A76B0;
    height: 750px;
    padding: 2%;
}

#content-line {
    float:left;
    height: 100%;
    width:50%;
    margin-left:25%;
    margin-top: 1.5%;
    color: black;
}